# Directories
__pycache__
.vscode
.spyproject
downloaded_images/
downloaded_images_grayscale/
downloaded_images.bak/

# Files
.DS_Store
config.ini
sample_image_list_processed.csv
image-table.html
cache.sqlite
