# Directories
__pycache__
.vscode
.spyproject
.history
downloaded_images/
downloaded_images_grayscale/
downloaded_images.bak/
data
results
images


# Files
.DS_Store
config.ini
sample_image_list_processed.csv
image-table.html
cache.sqlite
